:root {
    --background-primary: #F0F4F9;
    --background-secondary: #FFFFFF;
    --highlight: #0B57D0;
    --text-primary: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--text-primary);
}

body {
    background-color: var(--background-secondary);
}

h1 {
    font-size: 30px;
    text-align: center;
    padding: 7px;
}

main {
    width: 100%;
    height: calc(100vh - 48px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#ajaxContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--background-secondary);
    padding: 15px;
}

h2 {   
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0 0 5px 5px;
}

form input {
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid lightgray;
}

form input, form button {
    border-radius: 5px;
    padding: 4px;
    &:focus {
        outline: none;
    }
}

form button {
    border: none;
    cursor: pointer;
    background-color: var(--highlight);
    color: var(--background-secondary);
}

a {
    cursor: pointer;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    color: var(--highlight);
}

@media (width > 425px) {
    body {
        background-color: var(--background-primary);
    }

    #ajaxContainer {
        border: 1px solid lightgray;
    }
}