<main class="feed" hx-ext="response-targets">
    <form class="create-post" hx-post="/createPost" hx-target-error="#error-container">
        <label>Create a post</label>
        <textarea name="post-text" type="text" minlength="3" maxlength="255" required></textarea>
        <div id="error-container"></div>
        <button type="submit">Post</button>
    </form>
    <div class="post-container">
        <h2 class="loading-posts" hx-post="/getPosts" hx-trigger="load" hx-target=".post-container" hx-target-error=".post-container">Loading posts</h2>
    </div>
</main>