<main class="ajax-container">
    <div class="ajax-content">
        <h2 class="ajax-title">Recover Password</h2>
        <form class="ajax-form">
            <label for="input-handle">Handle</label>
            <input id="input-handle" name="handle" type="text" minlength="3" maxlength="15" required>
            <label for="input-email">Email</label>
            <input id="input-email" name="email" type="email" minlength="6" maxlength="255" required>
            <button type="submit" disabled style="text-decoration: line-through; cursor: default;">Send Email</button>
            <div id="error-container"></div>
        </form>
        <a class="ajax-nav" hx-get="/templateLogin" hx-target="body">Back to login</a>
    </div>
</main>