<div class="ajax-container">
    <div class="ajax-content">
        <h2 class="ajax-title">Recover your password</h2>
        <form class="ajax-form"  action="./src/controller/user/recover.php" method="POST">
            <label for="input-handle">Handle</label>
            <input id="input-handle" name="handle" maxlength="15" required>
            <label for="input-email">Email</label>
            <input id="input-email" name="email" type="email" maxlength="255" required>
            <button type="submit">Send password reset email</button>
        </form>
        <a class="ajax-nav" hx-post="./src/view/html/login.html" hx-target="main">Back to login</a>
    </div>
</div>
