<div class="ajax-Container">
    <div class="ajax-Content">
        <h2 class="ajax-title">Create an account</h2>
        <form class="ajax-form"  action="./src/controller/user/register.php" method="POST">
            <label for="input-handle">Handle</label>
            <input id="input-handle" name="handle" type="text" maxlength="15" required>
            <label for="input-email">Email</label>
            <input id="input-email" name="email" type="email" maxlength="255" required>
            <label for="input-password">Password</label>
            <input id="input-password" name="password" type="password" maxlength="255" required>
            <label for="input-password-repeat">Repeat password</label>
            <input id="input-password-repeat" name="password-repeat" type="password" maxlength="255" required>
            <button type="submit">Create Account</button>
        </form>
        <a class="ajax-nav" hx-post="./src/view/html/login.html" hx-target="main">Back to login</a>
    </div>
</div>
