<main class="ajax-container">
    <div class="ajax-content">
        <h2 class="ajax-title">Login</h2>
        <form class="ajax-form" hx-post="/login" hx-ext="response-targets" hx-target-4*="this" hx-target-5*="this" hx-swap="beforeend">
            <label for="input-email">Email</label>
            <input id="input-email" name="email" type="email" minlength="6" maxlength="255" required>
            <label for="input-password">Password</label>
            <input id="input-password" name="password" type="password" minlength="6" maxlength="255" required>
            <button type="submit">Login</button>
        </form>
        <a class="ajax-nav" style="text-decoration: line-through; cursor: default;">Forgot password?</a>
        <a class="ajax-nav" hx-get="/teamplateSignup" hx-target=".ajax-container"  hx-swap="outerHTML">Create an account</a>
    </div>
</main>