:root {
    --background-primary: #F0F4F9;
    --background-secondary: #FFFFFF;
    --highlight: #0B57D0;
    --text-primary: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--text-primary);
}

body {
    background-color: var(--background-secondary);
}

.ajax-Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajax-Content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--background-secondary);
    padding: 20px;
}

.ajax-title {
    font-size: 25px;
}

.ajax-form {
    display: flex;
    flex-direction: column;
}

.ajax-form label {
    margin: 0 0 5px 5px;
}

.ajax-form input {
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px;
    &:focus {
        outline: none;
    }
}

.ajax-form button {
    border: none;
    cursor: pointer;
    background-color: var(--highlight);
    color: var(--background-secondary);
    padding: 6px 4px;
    border-radius: 5px;
}

.ajax-nav {
    cursor: pointer;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    color: var(--highlight);
}

@media (width > 425px) {
    body {
        background-color: var(--background-primary);
    }
}
