<h2>Create an account</h2>
<form action="../app/controller/user/sign-up.php" method="POST">
    <label for="input-login">Email</label>
    <input id="input-login" name="email" type="email" maxlength="255" required>
    <label for="input-password">Password</label>
    <input id="input-password" name="password" type="password" maxlength="255" required>
    <label for="input-password-repeat">Repeat password</label>
    <input id="input-password-repeat" name="password-repeat" type="password" maxlength="255" required>
    <button type="submit">Create Account</button>
</form>
<a id="nav-login">Back to login</a>
